.menu {
    display: flex;
    width: 100%;
}

@media (max-width: 880px) {
    .menu {
        display: flex;
        flex-direction: column;
        margin-top: 3vh;
        position: fixed;
        /* background-color: #fcf8e7; */
        background-color: #ffffff;
        border: 2px solid #ffde3f;
        width: 70%;
        max-width: 320px;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: 1000;
        transform: translateX(-100%);
        transition: transform 0.5s;
        border-radius: 0px 20px 20px 0px;
        padding-top: 40px;
        align-items: center;
    }
    .active {
        transform: translateX(0);
        transition: transform 0.5s;
    }
}
