.containerOneCard {
    display: flex;
    margin: 0.6%;
    flex-direction: column;
    max-width: 270px;
    width: 100%;
    max-height: 360px;
    height: 100%;
}

.Rounded_Rectangle_56 {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(235, 224, 208);
    border-radius: 16px;
    background-color: rgb(254, 252, 248);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /* min-height: 240px; */
    /* min-height: 360px; */
    max-width: 230px;
    position: relative;
}

.Rounded_Rectangle_57 {
    display: flex;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(235, 224, 208);
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    max-width: 210px;
    max-height: 250px;
    width: 90%;
    height: 90%;
    margin-top: 10px;
}

.containerImg {
    border-radius: 15px;
    display: flex;
    max-width: 250px;
    width: 100%;
    max-height: 250px;
    height: 100%;
}

.containerIcons {
    display: flex;
    position: absolute;
    top: 67%;
    /* padding-top: 24%; */
}

.cart,
.view {
    margin: 0 5px;
    cursor: pointer;
    display: flex;
}

.cartLink {
    cursor: pointer;
}

.containerText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.category {
    display: flex;
    font-size: 13px;
    /* font-family: "Poppins"; */
    color: rgb(136, 136, 136);
    line-height: 1.2;
    text-align: center;
}

.name {
    display: flex;
    font-size: 15px;
    /* font-family: "Poppins"; */
    color: rgb(51, 51, 51);
    line-height: 1.2;
    text-align: center;
    margin: 5px auto;
}

.price {
    display: flex;
    font-size: 20px;
    /* font-family: "SpicyRice"; */
    color: rgb(255, 79, 163);
    line-height: 1.2;
    text-align: center;
}

@media (max-width: 1200px) {
    .containerIcons a img {
        width: 70%;
    }
}

@media (max-width: 880px) {
    .containerOneCard {
        width: 60%;
        height: 80%;
    }
}

@media (max-width: 559px) {
    .containerOneCard {
        width: 40%;
        height: 50%;
    }
    .Rounded_Rectangle_56 {
        /* height: 95%; */
    }
    .Rounded_Rectangle_57 {
        width: 90%;
        height: 90%;
    }

    .containerIcons {
        /* top: 53%;
        left: 15%; */
        top: 60%;
        left: 17%;
    }
    .containerIcons a img {
        width: 60%;
    }
}
