.inputContainer {
    display: flex;
    max-width: 300px;
    width: 100%;
}

.input {
    display: flex;
    width: 100%;
    border: 1px solid #ffde3f;
    border-radius: 7px;
    padding: 5px 10px;
    font-size: 14px;
}

.label {
    display: flex;
    width: 100%;
}
