.container {
    background-color: white;
    border: 1px solid #e5e5e5;
    border-radius: 20px;
    height: auto;
}

.indexContainer {
    background-color: rgb(255, 255, 154);
    border-radius: 20px;
    height: 90%;
    cursor: grab;
    user-select: none;
}
